<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
       
        let urlParams = new URLSearchParams(window.location.search)
        let sessionId = urlParams.get('session.id');
        console.log(sessionId,'session id')
        if(sessionId){
            console.log('Yuhii in success')
            fetch('/purchase?sessionId='+sessionId)
            .then(function(result){
                return result.json()
            })
            .then(function(session){
                let sessionJSON = JSON.stringify(session,null,2);
            })
            .catch(function(err){
                console.log('error occured')
            })
        }
    </script>
    <h1> this is success</h1>
</body>
</html>